* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins';
}

.container {
    max-width: 1790px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}